.mint-tabbar > .mint-tab-item.is-selected{
    background: none;
    color: #202028;
}
.mint-tabbar{
    background: #ffffff;
    box-shadow: 0px 0px 16px 0px rgba(12,17,55,0.1);
    color: #b8bcc1
}
.mint-tab-item-icon > *{
    width: 27px;
    height: 23px;
    margin-left: -1px;
}
a{
    text-decoration: none
}
